:root {
  --main-color : #E77937;
  --secondary-color: #42929D;
  --color-black: #000;
  --color-white: #fff;
  --color-golden: #DCCA87;
  --color-darkblue: #15133C;
  --color-orange : #D36D00;
  --color-blue : #3AB0FF;

  --font-base: 'Playfair Display, serif';
  --font-alt: 'Roboto', sans-serif;
  --font-sick: 'Righteous', cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
}

a {
  color: unset;
  text-decoration: none;
}